/*
  Styling Variables ✏️
  ----
  - Stylesheet Partial, for inclusion where common variables are needed
  - If a window needs to overwrite variables, it should be done in that window's stylesheet
*/

/* Colors */
$blue: #4C84FF;
$blue-dark: #2D91FC;
$danger: #F33C3C;


$grey-lighter: #D7D7D7;
$grey-light: #919191;
$grey: rgba(0,0,0,0.1);
$grey-dark: #2D2D2D;
$grey-darker: #1A1A20;


$red: #FF6159;
$green: #05E6B5;
$purple: #783FEA;
$orange: orange;

/* Typography */
$font-size-default:    1em;

/* Backgrounds */
$background-primary:   #F8FAFF;
$background-jaguar:    #F4F5F9;
$background-light:     #2E3137;
$background-dark:      rgba(0,0,0,0.01);
$background-app:       #F8FAFF;

/* Typography */
$color-primary:        #777F8A;
$color-secondary:      #959CAE;
$color-dark:           #04050A;
$divider-color:        $grey-dark;

$box-shadow-inputs:    0 1px 1px 0 rgba(0, 0, 0, .2),
                       0 0 0 1px rgba(0, 0, 0, .1),
                       0 12px 24px 0 rgba(31, 31, 31, 0.05);

/* Borders */
$window-border-radius: 5px;

/* height */
$footer-height: 100px;
$action-size: 110px;


$color-KMD: rgb(50,100,100);
$color-BTC: rgb(247,147,26);
$color-ETH: rgb(76,116,148);
$color-LTC: rgba(184, 184, 184, 1);
$color-NEO: rgba(90, 193, 0, 1);
$color-MNZ: #903984;
