/*
  main styling
*/

/* Imports */

@import '_variables';
@import '_helpers';
@import '_animations';
@import '_base';


@import 'elements/_window-controls';
@import 'elements/_window-header';
@import 'elements/_window-footer';
@import 'elements/_link';
@import 'elements/_loader';
@import 'elements/_notifier';
@import 'elements/_inputs';
@import 'elements/_buttons';
@import 'elements/_list';
@import 'elements/_forms';
@import 'elements/_progress';
@import 'elements/_tooltip';
@import 'elements/_modal';
@import 'elements/_tables';
@import 'elements/_header';
@import 'elements/_growler';


@import 'components/dashboard';
@import 'components/trade';
@import 'components/login';
@import 'components/coinList';
@import 'components/wallet';
@import 'components/balance';
@import 'components/orders';


body {
  transition: all .2s ease;
  color: $color-primary;
  background-repeat: no-repeat;
  height: 100vh;
}

* { box-sizing: border-box }

.content-container {
    display: flex;
    width: 100vw;
    max-height: 100vh;
}

/*.content-container.loading * {
    pointer-events: none !important;
    cursor: default !important;
}

.content-container.loading input,
.content-container.loading textarea {
    opacity: .4
}*/

.app.content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-app;
}

.app.content-container .Placeholder { flex: 1 }
.app.content-container .app-view {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    pointer-events: none;
}

.app.content-container .app-view > *:not(.notifier) {
    display: flex;
    width: 100%;
    pointer-events: all;
    overflow: auto;
}


.app.content-container .window-footer { z-index: 0 }

/* states */
.app.recording.content-container,
.app.playing.content-container  { justify-content: flex-end }

.app:not(.recording) .player-container { display: none }
