.coinList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.coinList .coinList-coin {
    position: relative;
    padding: 0;
}


.coinList-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #FFF;
    border-bottom: 1px solid $grey
}



.coinList .coinList-coin:hover .coinList-wrapper {
    background: $blue;
    color: #FFF;
    z-index: 2
}

.coinList .coinList-coin:hover .coinList-wrapper .coin-colorized {
    color: #FFF !important;
}

.coinList .coinList-coin:hover .coinList-wrapper .coin-colorized svg {
    fill: #FFF !important;
}

.coinList .coinList-coin:hover .coinList-wrapper code.coin-colorized {
    color: $blue !important
}


.coinList-coin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.coinList-coin-logo > * {
    width: 60px;
    height: 60px;
    box-shadow: $box-shadow-inputs;
    border-radius: 50%;
    transform: rotate(10deg);
}


.coinList .coinList-coin .coinList-coin-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coinList .coinList-coin .coinList-coin-name h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.4em;
    margin: 0 20px 0 0
}

.coinList .coinList-coin .coinList-coin-name h2 small {
    font-size: .6em;
    font-weight: 200;
}
