.dashboard,
.dashboard-noChain {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}


.dashboard-wallets,
.dashboard-wallets-header,
.dashboard-wallets-list { width: 100% }


.dashboard-wallets-header {
    height: 120px;
}
.dashboard-wallets-list {
    max-height: calc(100vh - 120px);
}

.dashboard-balances-pie {
    width: 60px !important;
    height: 60px !important;
    position: relative !important;
    margin-left: -10px;
    margin-bottom: -30px;
    transform: scale(1.9);
    transform-origin: left center
}

.dashboard-balances-pie svg {
    position: absolute;
    bottom: 0;
}


/* context */

.dashboard-empty {
    padding: 20px;
    background:  $danger;
    color: #FFF
}

.dashboard-empty.dashboard-empty-balance {
    background: $orange
}

.dashboard-empty h3 {
    text-align: center;
}

.dashboard-empty p {
    opacity: .8
}
