.dashboard,
.dashboard-noChain {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    height: 100vh;

}


.dashboard-wallets,
.dashboard-wallets-header,
.dashboard-wallets-list { width: 100% }


.dashboard-wallets-header {
    height: 400px;
    flex-direction: column;
}

.dashboard-wallets-header h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-weight: 200
}

.dashboard-wallets-header h1 label {
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600
}

.dashboard-balances-pie {
    width: 600px !important;
    height: 200px !important;
    position: relative !important;
    transform-origin: left center
}

.dashboard-balances-pie svg {
    transform: scale(3.8);
    transform-origin: center 33%
}

.dashboard-wallets .dashboard-wallets-list,
.dashboard-swaps {
    height: calc(100vh - 400px);
    overflow: auto;
}

.dashboard-wallets .dashboard-wallets-list  li {
    height: 140px;

}



/* context */

.dashboard-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 20px;
    color: #FFF;
    height: 400px;
}

.dashboard-empty-logo ,
.dashboard-empty-logo svg {
    position: relative;
    width: 200px;
    height: 200px;
}

.dashboard-empty-logo svg {
    position: absolute;
    top: -60px;
    left: -20px;
    transform: scale(2.2);
    transform-origin: center 90%;
    opacity: .2
}

.dashboard-empty-logo svg g { fill: #000 }

.dashboard.enabling .dashboard-empty-logo svg  {
    transform: scale(4);
    transform-origin: center center
}

.dashboard-empty h3 {
    text-align: center;
    width: auto;
    display: inline-block;
    margin: 0px auto 20px auto;
    border-bottom: 2px solid $danger;
    color: $danger
}

.dashboard-empty-balance h3 {
    color: $orange;
    border-color: $orange
}

.dashboard-empty p {
    opacity: .8;
    margin: 0
}

.dashboard-empty-centered {
    text-align: center;
}
