.login {
    height: 100vh
}

.login,
.login .form {
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
    background: $background-jaguar;
}

.login-localStorage .form {
    display: none
}

.login .form {
    flex-direction: column;
    padding: 0px 20px 100px;
}

.login-button {
    width: 100%;
    padding: 20px;
    font-size: 1em
}

.login textarea {
    margin-top: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    min-width: inherit;
    width: 320px;
    height: 180px;
    resize: none;
}

.Placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    pointer-events: none;

}

.Placeholder-logo {
    @extend .flexCenter;
    overflow: hidden;
}

.Placeholder-logo,
.Placeholder-logo svg {
    display: inline-block;
    width: 260px;
    height: 220px;
}

.Placeholder-logo svg {
    transform: scale(3);
    transform-origin: 55% 85%;
    pointer-events: none

}


.Placeholder-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.Placeholder-text {
    font-weight: 200;
    font-size: 3.2em;
    color: $color-dark;
    margin: 0 0 20px 0;

}
