.orders-list {
    border-radius: 4px;
}

.orders-item {
    display: flex;
}

.order-item-stopped {
    opacity: .5;
    pointer-events: none
}



.orders-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.orders-item-details-action {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-weight: 600;
}


.orders-item-details_action {
    margin-left: 6px;
}

.orders-item-details-action-type {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: $color-dark;
}

.orders-item-details-action-type-title {
    text-transform: capitalize;
}

.orders-item-details-action-type small {
    color: $color-primary
}

.orders-item-details-meta {
    width: 100%;
    display: flex;
}

.orders-item-details-meta div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.orders-item-details-meta div:first-child {
    flex-grow: 1
}

.order-stop {
    padding: 5px 5px 5px 10px;
}

.order-stop i svg {
    width: 10px;
    height: 10px;
    fill: #000
}
