.orders-list {
    border-radius: 4px;
}

.orders-item,
.orders-item-wrapper {
    display: flex;
    flex-direction: column;
}

.orders-item-wrapper {
    padding: 20px 20px 10px 20px;
    max-width: 400px;
    margin: 0px auto
}

.order-item-stopped {
    opacity: .5;
}



.orders-item-details {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.orders-item-details-coins {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.orders-item-details-coin {
    display: flex;
    align-items: center;
    width: 120px;
}

.orders-item-details-coins .orders-item-details-coin:first-of-type {
    justify-content: flex-end;

}



.orders-item-details-coin-amount {
    font-size: 14px
}

.orders-item-details-coin > * {
    margin-right: 5px
}



.orders-item-details-coins {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.orders-item-details-coin-icon i,
.orders-item-details-coin-icon svg,
.orders-item-details-coin-icon .coin-icon-placeholder {
    width: 24px;
    height: 24px;
    font-size: 13px;
    display: flex;
}


.orders-item-details-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.orders-item-details-type-label {
    text-transform: capitalize;
}

.orders-item-details-coins-tradeType svg {
    fill: #FFF;
    width: 20px;
    height: 20px;
}




.orders-item-details-action {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-weight: 600;
}


.orders-item-details_action {
    margin-left: 6px;
}

.orders-item-details-action-type {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: $color-dark;
}


.orders-item-details-action-type small {
    color: $color-primary
}

.orders-item-details-meta {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.orders-item-details-meta-more {
    display: flex;
    width: 100%;
    display: none;
}


.orders-item-details-meta-more-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1
}

.orders-item-details-meta-more-data-buttons {
    display: flex;
    align-items: center;
}

.orders-item-details-meta-more-data-buttons button {
    margin-left: 4px;
}


.order-stop {
    padding: 5px 5px 5px 10px;
}

.order-stop i svg {
    width: 10px;
    height: 10px;
    fill: #000
}


/* STATES */

.orders-item:hover .orders-item-details-meta-more {
    display: flex
}
