.trade,
.trade-body {
    width: 100%
}



.trade > h2 {
    font-size: 1em;
    font-weight: 400;
    color: $blue;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.trade-base button {
    box-shadow: 0 6px 20px rgba(0,0,0,.14) !important;
}

.trade-base-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    background: #FFF;
}

.trade-base-icon {
    border-radius: 50%;
    box-shadow: $box-shadow-inputs;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(256,256,256,0.1);
    transform: rotate(10deg);
}

.trade-base-icon i {
    font-size: 1.2em
}

.trade-orderbook {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    z-index: 0
}

.trade-orderbook  .rt-tbody {
    max-height: 300px;
}

.trade-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 100;
    transform: translateY(10px);
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none
}

.trade-action-wrapper {
    min-width: 80%;
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-inputs;
}

.trade-amount {
    width: 100%;
}

.trade-action-wrapper button { box-shadow: none !important }

.trade-action-wrapper button div.validation {
    display: flex;
    flex-direction: column;
}
.trade-amount_input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.trade-amount_input input { color: $color-dark }

.trade-action-amountRel { display: flex }
.trade-action-amountRel > * { margin-right: 4px }

.trade-amount_input_rate {
    position: relative;
    color: $color-primary;
    top: -10px
}

/* contexts */

.trade-ratePicked .trade-action {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}
