.trade,
.trade-body {
    display: flex;
    flex-direction: column;
}

.trade,
.trade-body {
    width: 100%;
    background: #FFF;
    flex-grow: 1;
    flex-shrink: 0
}

.trade-body {
    position: relative;
    z-index: 10;
    transition: all .2s ease;
    will-change: transform;
}

.trade-type {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: $color-primary;
    width: 100%;
    z-index: 1000;
    background:$background-jaguar;
}

.trade-type-item {
    padding: 10px 10px 4px 10px;
    flex-grow: 1;
    border-bottom:  1px solid $grey;
    opacity: .5
}

.trade-type-item:hover,
.trade-type-item.current { opacity: 1 }

.trade-type-item.current {
    background: #FFF;
    border-bottom: transparent;
    color: $color-dark;
    border-top: 1px solid $grey;
}

.trade-type-item.current:not(:first-of-type) {
    border-left: 1px solid $grey;
    border-top-left-radius: 4px;
}

.trade-type-item.current:not(:last-of-type) {
    border-right: 1px solid $grey;
    border-top-right-radius: 4px;
}

.trade-type-item button > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    font-weight: 400;
}

.trade-type-item.current button > div { font-weight: 600 }


.trade-type-item i svg {
    width: 60px;
    height: 30px;
    fill: $color-dark;
    transform: scale(1.1);
    transform-origin: top center
}

.trade-type-item i svg path {
    stroke: $color-dark !important;
}



.trade-base {
    display: flex;
    align-items: center;
}

.trade-base > * {
    margin-right: 4px;
}

.trade-base,
.trade-base-wrapper,
.trade-base-wrapper button {
    width: 100%;
}

.trade-base button {
    padding: 10px !important;
    font-size: 1em;
    box-shadow: 0 6px 20px rgba(0,0,0,.14) !important;
}

.trade-base-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.trade-base-icon {
    border-radius: 50%;
    box-shadow: $box-shadow-inputs;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(256,256,256,0.1);
    transform: rotate(10deg);
}

.trade-base-icon i {
    font-size: 1.2em
}

.trade-amount {
    position: relative;
}

.trade-orderbook {
    position: absolute;
    z-index: 100;
    top: 90px;
    left: 0px;
    width: 100%;
    max-height: 100%;
    background: $color-dark;
    box-shadow: $box-shadow-inputs;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
}



.trade-action {
    flex-grow: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    bottom: 0px;
    left: 0;
    z-index: 100;
    transform: translateY(10px);
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none;
    will-change: transform;
    z-index: 1;

}

.trade-action-wrapper {
    min-width: 100%;
    border-radius: 4px;
    background: #FFF;
    color: $color-dark;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trade-amount {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trade-amount input {
    min-width: 100%;
    padding: 24px 10px 24px 14px;
}

.trade-action-wrapper button { box-shadow: none !important }

.trade-action-wrapper button div.validation {
    display: flex;
    flex-direction: column;
}
.trade-amount_input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.trade-amount_input > * {
    flex-grow: 1;
}

.trade-amount_input > * > * {
    width: 100%
}

.trade-amount_input-wrapper  { position: relative }
.trade-amount_input-wrapper code {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 1;
    margin: 0;
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    color: $blue;
    border: 1px solid $blue;
    opacity: .2;


}

.trade-amount .label {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding: 10px 4px 10px 10px;
    justify-content: space-between;
    pointer-events: none;
}


.trade-rel > * {
    flex-grow: 1;
}

.trade-amount .label.trade-rel {
    padding: 10px 4px 10px 4px
}
.trade-amount .label.trade-rel strong { color: $color-dark }


.trade-amount .label.trade-rel button {
    background: #FFF;
    box-shadow: $box-shadow-inputs !important;
    width: 100%;
    font-size: 1em
}

.trade-amount .label.trade-rel button > span {
    justify-content: flex-start;
}

.trade-rel > *:first-child button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.trade-rel > *:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}





.trade-action-amountRel { display: flex }
.trade-action-amountRel > * { margin-right: 4px }

.trade-amount_input_rate {
    position: relative;
}


.trade-amount_input > *,
.trade-amount_input_rate > * {
    width: 100%;
}

.trade-amount_input > * {
    margin-bottom: 10px;
}

.trade-button {
    width: 100%;
    padding: 30px 20px;
    font-size: 1em;
}


/* contexts */

.trade-ratePicked .trade-action {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}
