.wallet {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background: $background-jaguar;
}

.wallet-icon {
    width: 80px;
    height: 80px;
    display: flex;
    right: 10px;
    top: 10px;
    justify-content: flex-end;
    position: absolute;
}


.wallet-icon > * {
    width: 80px;
    height: 80px;
}

.wallet-icon i {
    background: #FFF;
    border-radius: 50%;
    box-shadow: $box-shadow-inputs;
    font-size: 2.3em;
    transform: rotate(10deg);
}

.wallet-wallets-header {
    flex-shrink: 0;
    padding-bottom: 20px;
    padding-top: 30px;
}

.wallet-balance,
.wallet-coinName {
    color: $color-dark;
}


.wallet-balance {
    color: $color-dark;
    font-weight: 400;
    font-size: .6em;
}

.wallet-trade {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.wallet-exchange {
    text-align: center;
    width: 100%
}


.wallet-trade-buy {
    margin-top: auto
}
