.controls-container,
.control-container { width: 100% }

.controls-container {
    @extend .flexColumnCenter;
}

.control-actions {
    @extend .flexCenter;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.control-action {
    @extend .flexCenter;
    margin: 0 10px;
}

.control-action > * {
    @extend .flexCenter;
    background: transparent;
    line-height: 1;
    font-size: 1em;
}

.control-action > [class*='-label'] { margin-right: 5px }

.control-action > * > [class*='-icon'] {
    @extend .flexCenter;
    margin-right: 5px;
}

.control-action > * > [class*='-icon'] svg {
    width: 30px;
    height: 30px;
}

.control-action-item__counter-icon svg { fill: #FFF }

.control-action-item__stop-icon svg {
    border-radius: 4px;
    fill: $danger !important
}

.control-action-item__timer-label {
    color: $blue;
    animation: pulse 1.8s ease-in-out infinite alternate;
}

.control-action-item__timer-label svg { fill: $blue }
