@import '../_variables';

/*
  Form Styling Component ✏️
  ----
  - Super small, but styles the labels
*/

.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.label {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding: 10px 4px 20px 10px;
    justify-content: flex-end;
}

.label .label-title {
    margin-right: auto;
    font-weight: 400;
    font-size: 1.1em;
    color: #FFF
}

.label .link {
    margin-left: 10px;
}


.legend {
    width: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: .5em;
}

.legend > * { margin-right: 10px }

.legend u {
    text-decoration: none;
    border-bottom: 2px solid $blue;
}

hr {
    width: 100%;
    border: none;
    background: transparent
}

.react-toggle:hover {
    opacity: 1
}

.react-toggle--checked .react-toggle-track {
    background: $color-dark
}

.react-toggle--checked .react-toggle-thumb {
    border-color: $color-dark
}

.react-toggle-track {
    background-color: $color-dark
}



.react-toggle--checked .react-toggle-track {
  background-color: $color-dark
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $color-dark
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: none
}

.react-toggle-thumb { border: 0 }
