.growler {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px;
    z-index: 2000;
    text-align: center;
    transition: all .2s ease;

}

.growler-success,
.growler-fail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: $green;
    color: #FFF;
    padding: 10px 40px 10px 20px;
    box-shadow: $box-shadow-inputs;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.growler-fail {
    background: $orange;
    cursor: pointer;
}

.growler-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.growler-desc {
    font-weight: bold;
}

.growler-success i,
.growler-fail i {
    margin-right: 10px;
}

.growler-success i,
.growler-success i svg,
.growler-fail i,
.growler-fail svg {
    width: 40px;
    height: 40px;
}

.growler-success i svg,
.growler-fail i svg {
    fill: #FFF;
}

/* state */

.growler:empty {
    opacity: 0;
    transform: translateY(-20px);
}
