@import '../_variables';

/*
  Input Styling Component ✏️
  ----
  - Stylesheet Partial, for inclusion where inputs are used
  - Any extensions to input styling should go in this file
*/

input,
[contenteditable=true],
select,
textarea {
    background: #000;
    color: #FFF;
    font: inherit;
    outline: none;
    border: 0;
    /* Ensure focus on inputs doesn't allow app dragging */
    -webkit-app-region: no-drag;
    border-radius: 4px;
    border: 2px solid #000;
    box-shadow: $box-shadow-inputs;

}

input {
    height: 34px;
    padding: 2px 4px;
    width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* input:hover,
textarea:hover {
    border: 2px solid #FFF;
} */

input:focus,
textarea:focus {
    border: 2px solid #8A0EFB;
}

.select-container {
    position: relative;
}


[contenteditable=true] { max-width: 100% }
[contenteditable=true] + button { display: none !important }
[contenteditable=true]:not(:empty) + button { display: flex !important }
[contenteditable=true]:empty::before {
  content: attr(data-tooltip);
  max-width: inherit;
  overflow-wrap: break-word;
}

[contenteditable=true]:focus:empty::before {
    opacity: .1;
    content: attr(placeholder);
}
