
ul[class*=list] {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    padding: 20px;
}

ul[class*=list]:not(.singleColumn):after {
    content: "";
    position: fixed;
    width: 100%;
    height: 6px;
    box-shadow: 0px 10px 20px $background-app;
    z-index: 10;
    background:  $background-app
}

ul[class*=list] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

ul[class*=list].singleColumn {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
}


ul[class*=list]:not(.singleColumn) {
    background: $background-app;
    grid-gap: 10px;
}

ul[class*=list] > li {
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    border-bottom: 1px solid $background-app;
    transition: all .2s ease;
    will-change: transform;
    overflow: hidden;
    background: $background-jaguar
}

ul[class*=list]:not(.singleColumn) > li {
    box-shadow: 0 6px 20px rgba(0,0,0,.14);
    border-radius: 4px;

}

ul[class*=list]:not(.noHover) > li  {
    cursor: pointer;

}

ul[class*=list] > li > a {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    text-decoration: none;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

ul[class*=list] [class*="_action"] {
    display: flex;
    align-items: center;
    width: 30px;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 0px;
    height: 100%;

}

ul[class*=list] [class*="_action"] svg {
    position: relative;
    width: 20px;
    height: 20px;
    left: 0;
    transition: transform .6s ease;
    fill: rgba(256,256,256,0.5)
}

ul[class*=list] [class*="_action_loader"] {
    transform: translateX(10px);
    opacity: 0;
    transition: all .2s ease;
    width: 0px

}

ul[class*=list] [class*="_action_loader"] svg {
    width: 40px;
    height: 40px;
}

ul[class*=list]:not(.noHover) > li:hover,
ul[class*=list]:not(.noHover) > li.enabling {
    z-index: 1;
    background: $blue;
}

ul[class*=list] > li.enabling {
    pointer-events: none
}

ul[class*=list]:not(.noHover) > li:hover .coin-colorized,
ul[class*=list]:not(.noHover) > li:hover svg,
ul[class*=list]:not(.noHover) > li:hover svg path,
ul[class*=list]:not(.noHover) > li.enabling svg,
ul[class*=list]:not(.noHover) > li.enabling svg path,
ul[class*=list]:not(.noHover) > li.enabling .coin-colorized {
    color: #FFF !important;
    fill: #FFF !important;
}

ul[class*=list]:not(.noHover) > li:hover code {
    background: rgba(0,0,0,0.1)
}

ul[class*=list]:not(.noHover) > li.enabling [class*="_action_loader"] {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
    width: auto;
}
