.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 5vh 20px;
    left: 0;
    z-index: 1000;
    background: #FFF;
}

.loader-svg svg {
    width: 80px;
    height: 80px;
}

.loader .loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loader ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    list-style: none;
    animation: pulse 2s ease-in-out infinite alternate;
    color: $blue;
    font-size: 1.2em;
    font-weight: 200;

}
