@import '../_variables';

/*
  Modal Styling Component ✏️
  ----
  - Super small, but styles the labels
*/

.modal {
    position: relative;
    z-index: 1000;
    text-align: left;
}

.modal-header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    flex-shrink: 0;
    box-shadow:  0 6px 20px rgba(0,0,0,.04);
    z-index: 1;
    background: #FFF;
    display: none

}

.modal-header h1 {
    flex-grow: 1;
    font-weight: 200;
    font-size: 1.6em;
    text-align: left;
    color: $color-dark;

}

.modal-btn-close {
    position: fixed;
    z-index: 100010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px !important

}

.modal-btn-close-icon,
.modal-btn-close-icon svg {
    width: 42px;
    height: 42px;
}

.modal-content {
    overflow: auto;
    width: 100%;
    font-weight: 200;
}

.modal-content h1 {
    font-size: 2.8em;
    font-weight: 200;
    margin: 0 0 .5em 0;
}

.modal-icon {
    position: fixed;
    transform: scale(21);
    opacity: .04;
    pointer-events: none
}

.modal-icon svg {
    width: 100px;
    height: 100px;
    fill: #FFF;
}

.modal-content-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background: $background-dark;

    transform: translateY(-20px) scale(.95);
    will-change: transform;
    transition: all .1s ease;
    pointer-events: none;
}

.modal-content-overlay > ul {
    overflow: auto;
    max-height: calc(100% - 300px);
    will-change: transform;
}

.modal ul[class*=list] {

}

/* animation state */
.modal {
    transition: all .32s ease-in-out;
    will-change: all;
}

.modal-display-content.modal-content-overlay {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.modal-display-content.modal-content-overlay > ul { pointer-events: all }
