.ReactTable {
    border: 0;
    background: $background-dark;
    color: #FFF;
    width: 100%;
}

.rt-thead  {
    background: #000;
    font-weight: 400;
    color: #FFF;
}

.ReactTable .rt-thead .rt-th {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: 0;
}

.ReactTable .-pagination {
    box-shadow: none
}

.ReactTable.-striped .rt-tr {
    cursor: pointer;
    transition: all .2s ease;
    text-align: right
}

.ReactTable .rt-tbody .rt-td {
    padding: 10px;
    text-align: center;

}

.ReactTable.-striped .rt-tr.-odd {
    background: rgba(256,256,256,0.05);
}

.ReactTable.-striped .rt-tr.selected {
    color: #FFF;
    background: $blue !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc:before,
.ReactTable .rt-thead .rt-td.-sort-asc:before{
    content: "▲";
    font-size: .6em;
    margin-right: 4px;

}

.ReactTable .rt-thead .rt-th.-sort-desc:before,
.ReactTable .rt-thead .rt-td.-sort-desc:before {
    content: "▼";
    font-size: .6em;
    margin-right: 4px;
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-th.-sort-desc { box-shadow: none }

.ReactTable .-pagination .-btn,
.ReactTable .-pageJump input,
.ReactTable .-pageSizeOptions select {
    background-color: rgba(256,256,256,0.1);
    color: $background-dark;
    font-weight: 200;
}

.ReactTable .-previous,
.ReactTable .-next {
    padding: 5px 10px
}

.ReactTable .-pagination .-pageSizeOptions {
    display: none
}

.ReactTable .rt-noData {
    background: $background-dark;
    color: #FFF;
}

.rt-tr-group {
    position: relative;
}

.rt-resizable-header-content {
    text-transform: capitalize;
}
.depth {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .1;
}

.asks .depth {
    background: $green;
}

.bids .depth {
    background: red;
}
