.toggler__wrapper,
.toggler__broadcaster {
    @extend .flexCenter;
}

.toggler__wrapper {
    flex-direction: column;
    max-width: 100%;
    pointer-events: none;
    transition: all .12s ease-in-out;
    will-change: all;
}

.toggler__wrapper > * { pointer-events: all }

.toggler__broadcaster {
    min-width: calc($action-size * 1.3);
    min-height: calc($action-size * 1.3);
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
    color: #FFF;
    font-weight: 600;
    font-size: 1.8em;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: $danger;
    overflow: hidden;

}

.toggler__broadcaster:hover svg { fill: #FFF }

.toggler__broadcaster i,
.toggler__broadcaster i svg {
    overflow: hidden;
    border-radius: 4px;
    height: 54px;
    width: 54px;
}

.toggler__player {
    position: relative; /*cancel*/
    @extend .flexCenter;
    height: calc($action-size / 2.2);
    margin-top: 30px;
    max-width: 400px;
}

.toggler__player_ID {
    max-width: 400px;
    font-size: 1.2em;
}

[class*='toggler__player-button'] {
    height: 100%;
    @extend .flexCenter;
    margin-left: 10px;
    display: none;
}

.toggler__player-button-cancel {
    /*keep input centered*/
    margin-left: -30px;
    margin-right: 10px;
}

.toggler__player-button-icon {
    margin: 5px 0 0 5px;
}



.toggler__broadcaster {
    @extend .circle;
    text-transform: uppercase;
}

.toggler__broadcaster_recording-label {
    transition: all .12s ease-in-out;
    will-change: all;
    opacity: 0;
    width: 0px;
    margin-right: 10px;
    display: none;
}

/* states */

.toggler__wrapper-playerFocused .toggler__broadcaster { display: none }
.toggler__wrapper-playerFocused .toggler__player {
    margin-bottom: 20px;
    transform: scale(1.2);
}
.toggler__wrapper-playerFocused [class*='toggler__player-button'] {
    display: flex;
    animation: fadeInFromNone 0.5s ease-out;
}

.app.recording .toggler__player  { display: none }


/* labels states */
.app.recording .toggler__broadcaster-label,
.app:not(.recording) .toggler__timer,
.app:not(.recording) .toggler__broadcaster i,
.app.recording .toggler__inputID  { display: none }

.app.playing .toggler__wrapper {
    opacity: 0;
}
